<div class="gc-clientpage-exercises-cell">
  <div class="gc-workout-exercise-circle" data-letter="{{letterByNumber order_name}}" style="background: {{colorByLetterNumber order_name}}">
    {{letterByNumber order_name}}{{position}}
  </div>
</div>
<div class="gc-clientpage-exercises-cell">
  <a href="#my/exercises/{{exercise_id}}"class="gc-workout-exercise-name">{{name}}</a>
</div>
<div class="gc-clientpage-exercises-cell">
  <ul class="workout-exercise-properties"></ul>
</div>