<div class="col-xs-8">
  <label class="gc-clients-list-client-chb">
    <input data-id="{{id}}" type="checkbox">
  </label>
  <a href="#" class="gc-clients-list-avatar-wrapper {{#if avatar_url}}gc-clients-list-avatar-exist{{/if}}" style="background-color: {{avatar_background_color}}">
    <img src="{{avatar_url}}" alt="">
  </a>
  <a href="#users/{{id}}" class="gc-clients-list-client-link">
    {{first_name}} {{last_name}}
  </a>
</div>
<div class="col-xs-4 text-right gc-clients-list-client-actions">
  <a class="gc-clients-list-client-move btn btn-link">Move to group</a>
  <a class="gc-clients-list-client-delete btn btn-danger" data-id="{{id}}">
  </a>
</div>
